@{
    ViewBag.Title = "Side Bar";
}
<div ng-app="listdemoBasicUsage">
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Pizzeria</span>
        </div>
    </md-toolbar>
    <md-content>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
                <md-button class="md-primary">Ver Pizzas</md-button>
                <md-button class="md-primary">Añadir Pizzas</md-button>
                <md-button class="md-primary">Logout</md-button>
            </div>
        </md-list-item>
    </md-content>
</div>
   