@{
    ViewBag.Title = "Toolbar";
}
<div ng-app="navBarDemoBasicUsage">
    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 md-truncate flex>@Html.ActionLink("Pizzeria", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h2>
                <md-button>
                    @Html.ActionLink("Inicio", "Index", "Home")
                </md-button>
                    @Html.Partial("_LoginPartial")
            </div>
        </md-toolbar>
    </div>
</div>